body {
	background-image: url("3D-Solar-System-Wallpaper.jpg");
	background-color: black;
	background-size: cover;
	background-repeat:no-repeat;
	text-align: center;
	vertical-align: bottom;
	color: white;
}

.navbar:link{
	background-color: transparent;
	color: blue;
	text-decoration: underline;
}

html{
	color: white;
	font-size:20px;
	vertical-align:center
	bottom: 0;
}

.list
{
	text-align: center;
	vertical-align:bottom;
}