body {
	background-color: transparent;
	background-size: cover;
	background-repeat:no-repeat;
	text-align: left;
	color: white;
}

.navbar:link{
	background-color: transparent;
	color: white;
	text-decoration: underline;
}

html{
	background-image: url("3D-Solar-System-Wallpaper.jpg");
	background-color: transparent;
	background-size: cover;
	background-repeat:no-repeat;
	text-align: left;
	color: white;
	color: white;
	font-size:20px;

}
body.list{
	
	vertical-align: -50px;
	display: list;
	padding-top: 20px

	}

